<ul class="cern-signedin">
    <li class="cern-accountlinks ">
        <span>Signed in as:
            <a class="account" href="https://cern.ch/account" title="Signed in as ">{{ user['first_name'] + ' ' + user['last_name']}}</a>
        </span>
        <a href="/logout" class="cern-signout" title="Sign out of your account">Sign out</a>
    </li>
    <li>
        <a href="https://cern.ch/directory" title="Search CERN resources and browse the directory" class="cern-directory">Directory</a>
    </li>
</ul>