{% extends "base.html" %}

{% block content %}
	<div class="container" id="main">
        <a href="/">
         <img border="0" alt="W3Schools" src="static/logo.png">
        </a>
        {% if user %}
            {% if user['is_admin'] == True %}
            <div id="tool">
                    <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'video_creation')">Create a new video</button>
                    </div>
                    
                    <!-- Video Create Tab -->
                    <div id="video_creation" class="tabcontent">
                            <br>
                            <br>
                            <form enctype=multipart/form-data action="/" id="video_details_form" method="POST">
                                {{ video_form.hidden_tag() }}
                                <div id="div_wrapper">
                                    <div id="div_video1"> 
                                        <fieldset>
                                            <legend>Camera video URL: 
                                                <span style="color:red" class="tooltip">?
                                                    <span class="tooltiptext">Enter the URL link with the camera video.</span>
                                                </span>
                                            </legend>
                                            <div class="control">
                                                <label for="camera_url">Enter an https:// URL:</label>
                                                <input type="url" name="camera_url" id="camera_url"
                                                    placeholder="https://mediastream.cern.ch/" />
                                                <div class="camera_url_error" id="camera_url_error" style="display:none">
                                                      <div class="error">Please complete this field</div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div id="div_video2"> 
                                        <fieldset>
                                            <legend>Slides URL: 
                                                <span style="color:red" class="tooltip">?
                                                    <span class="tooltiptext">Enter the URL link with the slides video.</span>
                                                </span>
                                            </legend>
                                            <div class="control">
                                                <label for="slides_url">Enter an https:// URL:</label>
                                                <input type="url" name="slides_url" id="slides_url"
                                                    placeholder="https://mediastream.cern.ch/" />
                                                <div class="slides_url_error" id="slides_url_error" style="display:none">
                                                      <div class="error">Please complete this field</div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div> <!-- div_wrapper  -->
                                <br>
                                <fieldset class="field_set">
                                    <legend>Select intro and outro
                                        <span style="color:red" class="tooltip">?
                                            <span class="tooltiptext">Select the type of your intro and outro of your video.</span>
                                        </span>
                                    </legend>
                                    <!-- <div class="control"> -->
                                        {{ form.intro_outro() }}
                                    <!-- </div> -->
                                    <div class="intro_outro_url" style="display:none">
                                        <label for="intro_url">Enter the intro URL:</label>
                                        <span style="color:red" class="tooltip">?
                                            <span class="tooltiptext">PLease provide a valid url with a .mp4 ending</span>
                                        </span>
                                        {{ form.intro_url() }}
                                        <label for="outro_url">Enter the outro URL:</label>
                                        <span style="color:red" class="tooltip">?
                                            <span class="tooltiptext">PLease provide a valid url with a .mp4 ending</span>
                                        </span>
                                        {{ form.outro_url() }}
                                        <div class="intro_outro_error" id="intro_outro_error" style="display:none">
                                              <div class="error">Please complete both fields</div>
                                        </div>
                                    </div>
                                </fieldset>
                                <br>
                                <fieldset class="field_set">
                                    <legend>Period of speaker's presentation
                                        <span style="color:red" class="tooltip">?
                                            <span class="tooltiptext">Select the period with the speaker presentation.</span>
                                        </span>
                                    </legend>
                                    <div class="control">
                                        <label for="from_presentation">From: </label>
                                        {{ form.from_presentation(value="00:00:00") }}
                                        <label for="to_presentation">To: </label>
                                        {{ form.to_presentation(value="00:00:00") }}
                                    </div>
                                </fieldset>
                                <br>
                                <fieldset class="field_set">
                                    <legend>Period of questions
                                        <span style="color:red" class="tooltip">?
                                            <span class="tooltiptext">Select the period with the questions.</span>
                                        </span>
                                    </legend>
                                    <div class="control">
                                        <label for="from_questions">From: </label>
                                        {{ form.from_questions(value="00:00:00") }}
                                        <label for="to_questions">To: </label>
                                        {{ form.to_questions(value="00:00:00") }}
                                    </div>
                                </fieldset>
                                <br>
                                <fieldset class="field_set">
                                    <legend>Picture in Picture
                                        <span style="color:red" class="tooltip">?
                                            <span class="tooltiptext">Continuous: Picture in Picture in the whole final video.
                                                For 20 seconds every 100 seconds: Slides will be shown continuously, having Picture in Picture for 20 seconds every 100 seconds.
                                                Only camera: Full screen with only the camera video. No slides will be shown.
                                                Only slides: Full screen with only the slides. No camera video will be shown.
                                                </span>
                                        </span>
                                    </legend>
                                    <div class="control">
                                        {{ form.pip() }}
                                    </div>
                                </fieldset>
                                <p id=error_message style="display:none">Error message: </p>
                                <input type="submit" name="video_submit" id="video_submit" value="Go!">
                            </form>
                    </div> 

                    <!-- Tab -->
                    <div id="crop" class="tabcontent">
                        <br>
                        <div id="div_video3"> 
                            <form enctype=multipart/form-data action="/upload" id="crop_file_upload" method="POST">
                                {{ video_form.hidden_tag() }}
                                {{ video_form.file() }}
                                <br>
                                <p id="video_err"></p>
                                <div class="spinner_container" style="padding-top: 10px;">
                                    <p id="video_filename_crop">Duration: <span></span></p>
                                    <div id="filename_loader" class="loader_crop"></div><br>
                                </div>
                            </form>
                            <div id="loader">
                                <canvas id="circularLoaderCrop" width="50" height="50"></canvas>
                            </div>
                            <br>
                            <form enctype=multipart/form-data action="/" id="crop_details_form" method="POST">
                                {{ video_form.hidden_tag() }}
                                <fieldset class="field_set">
                                    <legend>Choose the part of the video to be cut
                                        <span style="color:red" class="tooltip">?
                                            <span class="tooltiptext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Praesent eget turpis magna. Maecenas congue ipsum accumsan tincidunt tempor.</span>
                                        </span>
                                    </legend>
                                    <div class="control">
                                        <label for="from_crop">From: </label>
                                        {{ form.from_crop(value="00:00:00") }}
                                        <label for="to_crop">To: </label>
                                        {{ form.to_crop(value="00:00:00") }}
                                    </div>
                                </fieldset>
                                <input type="submit" name="crop_submit" id="crop_submit" value="Crop!">
                            </form>
                        </div>
                    </div>
            </div>
            {% else %}
                <div id="tool">
                    <h2>You do not have permission to view this site</h2>
                </div>
            {% endif %}
            <div id="job_submitted" style="display: none">
                <h2>Your job is being processed! You will be informed with an email when the process is done. (max 2 hours) :)</h2>
                <br>
                <h2>If not, possible reasons of failure are:</h2>
                <h2>1. Invalid video URLs</h2>
                <h2>2. Intro Outro URLs are not available</h2>
                <h2>3. Invalid timestamps</h2>
            </div>
        {% else %}
            <div id="tool">
                <h2>Please login to view this site</h2>
            </div>
        {% endif %}
	</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
{% endblock %}

